{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="fr-fr">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta property="og:title" content="{% if title %}{{ title }}{% else %}Eloi Tembremande{% endif %}">
    <meta property="og:site_name" content="EloiTembremande.com">
    <meta property="og:url" content="https://eloitembremande.com{{ request.path }}">
    <meta property="og:image" content="https://eloitembremande.com/static/img/galeries/galerie1/02.jpg">
    <meta property="og:language" content="fr">
    <title>{% if title %}{{ title }}{% else %}Eloi Tembremande{% endif %}</title>
    <meta name="description" content="{% block description %}Musicien, chef d'orchestre, arrangeur. Bordeaux, France.{% endblock %}">
    {% render_bundle 'app' %}

  </head>
  <body>

    {% block body %}{% endblock %}

    {% block scripts %}{% endblock %}
  </body>
</html>
