ul.links {
  font-family: 'CaviarDreams';
  list-style-type: none;
  margin: 0;
  padding: 20px;
  outline: none;

  li {
    text-transform: uppercase;
    font-size: 1.8rem;
    white-space: nowrap;

    a {
      position: relative;
      color: $menu-color;

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        visibility: hidden;
        background-color: $menu-color;
        transform: scaleX(0);
        transition: all .2s ease-in-out 0s;
      }

      &:hover:before {
        visibility: visible;
        transform: scaleX(1);
      }
    }

    &.plus {
      margin-top: 60px;
      text-transform: none;
      font-size: 0.8rem;
    }
  }
}
