body {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Novarese', sans-serif;
  font-weight: normal;
  font-style: normal;
}

#main-nav, #home-nav {
  z-index: 3;
}

.container {
  position: relative;
  z-index: 1;
}

.soundwave {
  position: fixed;
  top: 200px;
  left: 0;
  width: 100%;
  z-index: 0;
  background-image: url('../img/backgrounds/soundwave-transparent.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  animation: rotate-x 15s ease-in-out infinite alternate-reverse;
  opacity: 0.1;
}

h1 {
  font-family: 'CaviarDreams';
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 0;
  @media screen and (min-width: $screen-small) and (max-width: $screen-large) {
    font-size: 2rem;
  }
}

h2 {
  font-family: 'Baskerville';
  font-size: 1.5rem;
  font-weight: normal;
  @media screen and (min-width: $screen-small) and (max-width: $screen-large) {
    font-size: 1.4rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

a.current {
  font-weight: bold;
}

.accordeon {
  cursor: pointer;
  .chevron {float:right;transition: transform .3s;}

  &.active .chevron {
    transform: rotate(90deg);
  }
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
