@font-face {
  font-family: 'Baskerville';
  src: url('../fonts/Baskerville-01.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Baskerville';
  src: url('../fonts/Baskerville-Bold-02.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Baskerville';
  src: url('../fonts/Baskerville-Italic-03.ttf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'CaviarDreams';
  src: url('../fonts/CaviarDreams.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CaviarDreams';
  src: url('../fonts/CaviarDreams_Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'CaviarDreams';
  src: url('../fonts/CaviarDreams_BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'CaviarDreams';
  src: url('../fonts/CaviarDreams_Italic.ttf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Charm';
  src: url('../fonts/Charm-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Charm';
  src: url('../fonts/Charm-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Novarese';
  src: url('../fonts/Novarese-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
