@mixin grid($s, $m, $l, $gap: null) {
  @media screen and (min-width: $screen-small) and (max-width: $screen-medium){grid-template-columns: repeat($s, 1fr);}
  @media screen and (min-width: $screen-medium) and (max-width: $screen-large){grid-template-columns: repeat($m, 1fr);}
  @media screen and (min-width: $screen-large){grid-template-columns: repeat($l, 1fr);}
  display: grid;
  grid-gap: $gap;
}

@mixin page($menu-color, $background-menu, $background-page) {
  // display: grid;
  // grid-template-columns: 25rem auto;
  height: 100vh;

  nav#main-nav {
    position: fixed;
    height: 100vh;
    width: $menu-size;
    background-color: $background-menu;
    @import "partials/menu";

    transition: width .3s;

    .hamburger {
      font-size: 1.5rem;
      text-align: center;
      transition: opacity .3s;
      color: $menu-color;
      visibility: hidden;
      opacity: 0;
    }

    div.image-bottom {
      position: absolute;
      bottom: 0;
      img {width:100%;vertical-align: bottom;}
    }
  }

  div.page {
    min-height: 100vh;
    padding: 1px 0 1px $menu-size;
    background-color: $background-page;
    color: $menu-color;
    transition: padding .3s;

    a:hover {
      text-decoration: underline;
    }
  }

  @media screen and (min-width: $screen-small) and (max-width: $screen-large) {
    nav#main-nav {
      width: 3rem;
      padding: 5px;

      ul.links {
        opacity: 0;
        visibility: hidden;
        transition: visibility .3s, opacity .3s;
      }

      .hamburger {
        visibility: visible;
        opacity: 1;
      }

      div.image-bottom {
        display: none;
      }

      &:hover {
        & {
          width: $menu-size;
          max-width: 100%;
        }
        & .hamburger {
          opacity: 0;
        }
        & ul.links {
          visibility: visible;
          opacity: 1;
        }
        & + .page {
          grid-template-columns: 51% 49%;
        }
      }
    }

    div.page {
      padding: 1px 0 1px 3rem;
    }
  }
}
