/*
1. Colors
2. Sizes
3. Screens
4. Fonts
5. Links
6. Menu
*/

// 1. Colors

$white: #fefefe;
$white-medium: #736e72;
$black: #0e0e0e;
$black-medium: #101012;
$gray: #6c676e;
$cyan: #c7e0f3;
$brown: #463636;
$mauve-dark: #694a48;
$mauve-light: #Ab887a;
$mauve-xlight: #e3c0bf;
$green-light: #bfc7ab;
$green-dark: #54562f;

$background-color: $white;

$main-font-color: $black;
//$link-color:
//$link-color-hover:

// 2. Sizes

$global-width: 1200px;
$menu-size: 20rem;

// 3. Screens

$screen-small: 0px;
$screen-medium: 640px;
$screen-large: 1024px;

// 4. Fonts

$global-font-size: 100%;
$lead-font-size: $global-font-size * 1.25;
$small-font-size: 80%;

// 5. Links

$link-color: $main-font-color;
$link-color-hover: $main-font-color;

// 6. Menu

$menu-height: 50px;
