<div class="hamburger">
  <i class="fa fa-bars"></i>
</div>
<ul class="links">
  <li><a href="{% url "home" %}">Accueil</a></li>
  <li><a href="{% url "projets" %}">Projets</a></li>
  <li><a href="{% url "agenda" %}">Agenda</a></li>
  <li><a href="{% url "photos" %}">Photos</a></li>
  <li><a href="{% url "amis" %}">Amis</a></li>
  <li><a href="{% url "contact" %}">Contact</a></li>
  <li class="plus"><a href="{% url "mentions-legales" %}">Mentions Légales</a></li>
</ul>
