{% extends "eloitembremande/base.html" %}
{% block description %}Agenda des concerts à venir d'Eloi Tembremande{% endblock %}

{% block body %}

{% load static %}
<section id="agenda" class="no-home">
  <nav id="main-nav">
    {% include "eloitembremande/partials/main-nav.html" %}
    <div class="image-bottom"><img src="{% static "img/agenda.jpg" %}"></div>
  </nav>
  <div class="page">
    <div class="soundwave"></div>
    <div class="container">
      <h1>Agenda</h1>
        {% for concert in object_list|dictsort:"date" %}
        {% ifchanged %}<h2>{{ concert.date.year }}</h2>{% endifchanged %}
        <div class="date">
          <div class="gauche">
            <div class="jour">{{ concert.date|date:'D d M' }}</div>
          </div>
          <div class="centre">
            <div class="projet">{{ concert.projet.nom }}</div>
            <div class="poste">{{ concert.projet.instruments }}</div>
          </div>
          <div class="droite">
            <div class="ville">{{ concert.ville }}</div>
            <div class="lieu">{{ concert.lieu }}</div>
          </div>
        </div>
        {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
