{% extends "eloitembremande/base.html" %}
{% block description %}Les projets amis{% endblock %}

{% block body %}

{% load static %}
<section id="amis" class="no-home">
  <nav id="main-nav">
    {% include "eloitembremande/partials/main-nav.html" %}
  </nav>
  <div class="page">
    <div class="soundwave"></div>
    <div class="container">
      <h1>Amis</h1>
      <div class="projets">
        {% for projet in object_list %}
        {% if projet.ami %}
        <div class="projet">
          <h2>{{ projet.nom }}</h2>
          <div class="texte">
            <p>{{ projet.description|safe }}</p>
          </div>
          <div class="videos">
            {% for video in projet.video_set.all %}
              {{ video.code|safe }}
            {% endfor %}
          </div>
          <div class="contact">
            <div class="contact">
              <div class="phone">{{ projet.telephone|default_if_none:'' }}</div>
              <div class="mail">{{ projet.mail|default_if_none:'' }}</div>
              <div class="website"><a href="{{ projet.website }}" target="_blank">{{ projet.website|default_if_none:'' }}</a></div>
              <div class="socials">
                {% if projet.facebook %}<span class="facebook"><a href="{{ projet.facebook }}" target="_blank"><i class="fa fa-facebook-official"></i></a></span>{% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% endblock %}
