{% extends "eloitembremande/base.html" %}
{% block description %}Contacts d'Eloi Tembremande et de ses projets{% endblock %}

{% block body %}

{% load static %}
<section id="contact" class="no-home">
  <nav id="main-nav" style="background-image: url({% static "img/contact.jpg" %});">
    {% include "eloitembremande/partials/main-nav.html" %}
  </nav>
  <div class="page">
    <div class="soundwave"></div>
    <div class="container">
      <h1>Éloi TEMBREMANDE</h1>
      <h2>eloi.tembremande@gmail.com</h2>
      <div class="contacts">
        {% for projet in object_list %}
        {% if not projet.ami %}
          <div class="contact">
            <h3>{{ projet.nom }}</h3>
            <div class="phone">{{ projet.telephone }}</div>
            <div class="mail">{{ projet.mail }}</div>
            <div class="website"><a href="{{ projet.website }}" target="_blank">{{ projet.website }}</a></div>
            <div class="socials">
              <span class="facebook"><a href="{{ projet.facebook }}" target="_blank"><i class="fa fa-facebook-official"></i></a></span>
            </div>
          </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% endblock %}
