{% extends "eloitembremande/base.html" %}

{% block body %}

  <section id="home">
    <nav id="home-nav">
      {% include "eloitembremande/partials/main-nav.html" %}
    </nav>
    <div class="page">
      <div class="photo"></div>
      <div class="title">
        <div class="soundwave"></div>
        <div class="citation">
          <div class="phrase">Les sensations sont les détails qui construisent l'histoire de notre vie.</div>
          <div class="signature">Oscar Wilde</div>
        </div>
        <h1>Éloi<br>Tembremande</h1>
      </div>
    </div>
  </section>

{% endblock %}
