{% extends "eloitembremande/base.html" %}
{% block description %}Mentions Légales du site web d'Eloi Tembremnde{% endblock %}

{% block body %}

{% load static %}
<section id="mentions-legales" class="no-home">
  <nav id="main-nav">
    {% include "eloitembremande/partials/main-nav.html" %}
  </nav>
  <div class="page">
    <div class="soundwave"></div>
    <div class="container">
      <h1>Mentions Légales</h1>

      <h2>Identification du site</h2>
      <p><b>Nom:</b> Eloi Tembremande<br>
      <b>URL:</b> eloitembremande.com</p>

      <h2>Propriétaire du site</h2>
      <p>Eloi Tembremande<br>
      Adresse<br>
      <b>Directeur de la publication:</b> Eloi Tembremande<br>
      <b>Directeur de la rédaction:</b> Eloi Tembremande</p>

      <h2>Hébergement</h2>
      <p>
        Association <b>Aquilenet</b><br>
        20 rue Tourat<br>
        33000 BORDEAUX<br>
        <a href="https://www.aquilenet.fr">www.aquilenet.fr</a>
      </p>

      <h2>Crédits</h2>
      <p>
        Site réalisé par Simon Crespeau<br>
        14 rue Riboutet 33670 CRÉON<br>
        Identification SIRET : 750 042 798 00025<br>
        <a href="https://www.art-e-toile.com">www.art-e-toile.com</a><br>
        <a href="mailto:simon@art-e-toile.com">simon@art-e-toile.com</a>
      </p>
      <p>
        WebDesign réalisé par Cerise Rousseau<br>
        Contacts
      </p>
      <p>
        Photos du site réalisées par Solweig Wood, Louise Rousseau et Manuel Ibanez<br>
        Tout droit réservé aux auteurs des photos.<br>
        Contacts
      </p>

      <h2>Politique sur le droit d'auteur</h2>
    </div>
  </div>
</section>

{% endblock %}
