{% extends "eloitembremande/base.html" %}
{% block description %}Galerie Photos d'Eloi Tembremande par Solweig Wood, Louise Rousseau et Manuel Ibanez{% endblock %}

{% block body %}

{% load static %}
<section id="photos" class="no-home">
  <nav id="main-nav">
    {% include "eloitembremande/partials/main-nav.html" %}
  </nav>
  <div class="page">
    <div class="soundwave"></div>
    <div class="container">
      <h1>Photos</h1>
      <div class="galerie">
        <div class="diaporama">
          <img src="{% static 'img/galeries/galerie1/01_thumb.jpg' %}" href="{% static 'img/galeries/galerie1/01.jpg' %}" alt="">
          <img src="{% static 'img/galeries/galerie1/02_thumb.jpg' %}" href="{% static 'img/galeries/galerie1/02.jpg' %}" alt="">
          <img src="{% static 'img/galeries/galerie1/03_thumb.jpg' %}" href="{% static 'img/galeries/galerie1/03.jpg' %}" alt="">
          <img src="{% static 'img/galeries/galerie1/04_thumb.jpg' %}" href="{% static 'img/galeries/galerie1/04.jpg' %}" alt="">
          <img src="{% static 'img/galeries/galerie1/05_thumb.jpg' %}" href="{% static 'img/galeries/galerie1/05.jpg' %}" alt="">
          <img src="{% static 'img/galeries/galerie1/06_thumb.jpg' %}" href="{% static 'img/galeries/galerie1/06.jpg' %}" alt="">
          <img src="{% static 'img/galeries/galerie1/07_thumb.jpg' %}" href="{% static 'img/galeries/galerie1/07.jpg' %}" alt="">
          <img src="{% static 'img/galeries/galerie1/08_thumb.jpg' %}" href="{% static 'img/galeries/galerie1/08.jpg' %}" alt="">
          <img src="{% static 'img/galeries/galerie1/09_thumb.jpg' %}" href="{% static 'img/galeries/galerie1/09.jpg' %}" alt="">
        </div>
      </div>

    </div>
  </div>
</section>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(document).ready(function() {
    $('.diaporama').each(function(){
      $(this).magnificPopup({
        delegate: 'img',
        type:'image',
        gallery: {
          enabled: true
        }
      });
    })
  });
</script>
{% endblock %}
