{% extends "eloitembremande/base.html" %}
{% block description %}Projets et groupes de musique d'Eloi Tembremande{% endblock %}

{% block body %}

{% load static %}
<section id="projets" class="no-home">
  <nav id="main-nav">
    {% include "eloitembremande/partials/main-nav.html" %}
    <div class="image-bottom"><img src="{% static 'img/projets.jpg' %}"></div>
  </nav>
  <div class="page">
    <div class="soundwave"></div>
    <div class="container">
      <h1>Projets</h1>
      {% for projet in object_list %}
      {% if not projet.ami %}
      <div class="projet">
        <h2>{{ projet.nom }}</h2>
        <div class="texte">
          {{ projet.description|safe }}
        </div>
        <div class="videos">
          {% for video in projet.video_set.all %}
            {{ video.code|safe }}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
