$menu-color: $mauve-xlight;
$background-menu: $mauve-dark;
$background-page: $mauve-light;

#agenda {
  &.no-home {
    @include page($menu-color,$background-menu,$background-page);
  }

  hr, h2 {color:$background-menu;}
  h2 {
    margin: 10px 0;
    padding: 5px;
    font-weight: bold;
    border-bottom: 2px solid $background-menu;
  }

  .date {
    @include grid(1,3,3);
    margin: 15px 0;
    color: $menu-color;

    .centre, .droite {
      text-align: right;
      @media screen and (min-width: $screen-small) and (max-width: $screen-medium) {
        text-align: left;
      }
    }

    .jour {font-size: 1.7rem;font-family:'CaviarDreams';}
    .projet, .ville {font-weight: bold;font-size: 1.2rem;font-family:'Baskerville';}
    .poste, .lieu {font-weight: lighter;font-family:'CaviarDreams';}
  }
}
