$menu-color: $mauve-xlight;
$background-menu: $mauve-dark;
$background-page: $mauve-light;

#amis {
  &.no-home {
    @include page($menu-color,$background-menu,$background-page);
  }

  .projets {
    @include grid(1,2,2);

    .projet {
      text-align: center;
      margin-bottom: 100px;

      h1 {font-weight: bold;}

      .videos {
        text-align: left;
      }

      .contact {
        margin: 10px 0;
      }
    }
  }



}
