$menu-color: $white-medium;
$background-menu: $black-medium;
$background-page: $black-medium;

#contact {
  &.no-home {
    @include page($menu-color,$background-menu,$background-page);
  }
  nav#main-nav {
    background-position: center;
    background-size: cover;
  }

  h2 {
    margin: 0;
  }

  .contacts {
    @include grid(1,2,2,30px);
    margin-top: 90px;

    .contact {
      font-family: 'Baskerville';
      font-size: 1.2rem;
      h3 {
        margin: 5px 0;
        font-family: 'CaviarDreams';
      }
      .socials {
        span.facebook {font-size: 1.5rem;}
      }
    }
  }

  @keyframes rotate-x {
    from {
      transform: rotateX(0);
    }
    to {
      transform: rotateX(50deg);
    }
  }
}
