$menu-color: $cyan;
$title-padding: 60px;

#home {

  #home-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 3rem;
    height: 100vh;
    padding: 5px;

    background-color: $brown;
    color: $cyan;

    transition: width .3s;

    .hamburger {
      font-size: 1.5rem;
      text-align: center;
      transition: opacity .3s;
    }

    @import "partials/menu";

    ul.links {
      opacity: 0;
      visibility: hidden;
      transition: visibility .3s, opacity .3s;
    }

    &:hover {
      & {
        width: 12rem;
      }
      & .hamburger {
        opacity: 0;
      }
      & ul.links {
        visibility: visible;
        opacity: 1;
      }
      & + .page {
        grid-template-columns: 51% 49%;
      }
    }
  }

  .page {
    display: grid;
    grid-template-columns: 50% 50%;

    .soundwave {
      opacity: 0.5;
    }

    h1 {
      position: absolute;
      bottom: $title-padding;
      right: $title-padding;
      margin: 0;
      text-align: right;
      font-size: 5rem;
      font-weight: lighter;
      text-transform: uppercase;
      letter-spacing: 3px;
    }

    .title {
      background-color: $cyan;
      color: $brown;
      position: relative;
      padding: $title-padding;

      .citation {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-$title-padding,-50%);
        text-align: right;

        .phrase {
          font-family: 'Charm';
          font-size: 1.5rem;
          line-height: 20px;
          &:before{content:"‘"}
          &:after{content:"’"}
          &:before, &:after {font-size: 2rem;}
        }

        .signature {
          margin-top: 8px;
          font-family: 'CaviarDreams';
          font-size: 1.3rem;
          &:before {
            content: "- ";
          }
          &:after {
            content: " -";
          }
        }
      }

      h1 {
        z-index: 4;
      }
    }

    @media screen and (min-width: $screen-small) and (max-width: $screen-large) {
      grid-template-columns: 100% 0px;
      & .title {
        padding: 0;
      }
      & .citation {
        display: none;
      }
      h1 {
        bottom: 10px;
        right: 10px;
        font-size: 2rem;
        color: $white;
      }
    }
    height: 100vh;
    transition: grid-template-columns .3s ease-out;

    .photo {
      background-image: url('../img/backgrounds/home.jpg');
      background-size: cover;
      background-position: 3rem center;
      background-repeat: no-repeat;
      z-index: 2;
    }
  }
}
