$menu-color: $green-dark;
$background-menu: darken($green-light, 10%);
$background-page: $green-light;

#mentions-legales {
  &.no-home {
    @include page($menu-color,$background-menu,$background-page);
  }

  .projet {
    margin-bottom: 100px;

    h1 {font-weight: bold;}

    h2, .videos {
      text-align: center;
    }

    .texte {
      margin-top: 50px;
      margin-bottom: 50px;
      text-align: justify;
    }
  }

}
