$menu-color: $gray;
$background-menu: $black-medium;
$background-page: $black-medium;

#photos {
  &.no-home {
    @include page($menu-color,$background-menu,$background-page);
  }
  h2{text-align: center;}
  .diaporama {
    margin-top: 30px;
    @include grid(2,4,6,1px);
    img {
      width:100%;
      cursor:pointer;
    }
  }
}
