$menu-color: $green-dark;
$background-menu: $green-light;
$background-page: $green-light;

#projets {
  &.no-home {
    @include page($menu-color,$background-menu,$background-page);
  }

  .soundwave {
    opacity: 0.5;
  }

  .projet {
    margin-bottom: 100px;

    h1 {font-weight: bold;}

    h2, .videos {
      text-align: left;
    }

    .texte {
      margin-top: 50px;
      margin-bottom: 50px;
      text-align: justify;
    }
  }

}
